<!DOCTYPE html>
<html lang="en">
<head>
    <title>Covid App | <%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel='icon' href="/img/COVID-19.png">
    <script src="../public/js/app.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
        </style>
</head>
<body>
    <header>
        <h1>Covid App</h1>
        <img class="selector_logo" src="../img/israel.png"><a class="country_selector" href="israel">Israel Covid-19 Data</a><br>
        <img class="selector_logo" src="../img/global.png"><a class="country_selector" href="worldwide">Worldwide Covid-19 Data<br></a>
        
    </header>
    <div class="main_page">
        
    </div>
    <footer>
            
    </footer>
</body>
</html>
